*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

background-image: url('../plugins/31286c98eaca094327563de3f86fb3ab.jpg');
}